body {
    background-color: #00bb48;
    margin: 0;
}

.site-header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    padding-right: 30px;
    height: 75px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 28px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 0;

}

.brand-text {
    display: flex;
    flex-direction: column;
}

.brand-text h3,
.brand-text p {
    margin: 0;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    width: 70px;
    height: auto;
    transform: translateY(4px);
}

.btn-login {
    background-color: transparent;
    border: transparent;
    color: #000;
    cursor: pointer;
    padding: 8px;
    font-size: 18px;
    align-items: baseline;
    font-weight: 600;
    transform: translatey(-4px);
    font-family: Arial, Helvetica, sans-serif;
}

.btn-login svg {
    display: inline-flex;
    width: 25px;
    height: 25px;
    padding-right: 5px;
    transform: translateY(4px);
}

.btn-register {
    background-color: #00bb48;
    border-radius: 10px;
    border-color: transparent;
    width: 100px;
    height: 39px;
    color: aliceblue;
    font-size: 17px;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
}


.main-nav {
    display: flex;
    gap: 30px;
}

.main-nav a {
    text-decoration: none;
    color: #7a7a7a;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    font-family: Arial, Helvetica, sans-serif;

}

.main-nav a:hover {
    color: #111;
    border-bottom: 2px solid #111;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    flex: 1;
}

.hero-left h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 56.5px;
    line-height: 1.2;
    letter-spacing: -0.5px;
    color: aliceblue;
    padding: 0px 15px;
    margin: 0;
}

.hero-left p{
    padding: 0px 15px;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: aliceblue;
    margin: 2;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-block-start: 150px;
}

.hero-right img {
    width: 1000px;
    border-radius: 20px;
}

.encontre-pontocoleta-container {
    margin-top: auto;
    padding-left: 15px;
}

.btn-encontre-pontocoleta {
   background-color: aliceblue;
    border-radius: 10px;
    border-color: transparent;
    width: 300px;
    height: 40px;
    color: #00bb48;
    font-size: 17px;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-encontre-pontocoleta svg{
    display: inline-flex;
    width: 20px;
    height: 20px;
    padding-right: 3px;
    transform: translateY(4px);
}

.arrow-coleta{
    display: inline-flex;
    width: 20px;
    height: 20px;
    padding-left: 8px;
    transform: translateY(4px);
}